@import url(https://fonts.googleapis.com/css?family=Teko:300);

*,
*:before,
*:after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-button {
    background: #ED8C2B;
    height: 18px;
}
::-webkit-scrollbar-track-piece {
  background-color: #2B2728;
}
::-webkit-scrollbar-thumb {
  background: #911146;
}

body {
    background: #FFF;
    padding: 20px;
    color: #333;
    font-family: sans-serif;
}

img {
    display: block;
    max-width: 100%;
    margin: 0px auto;
    -ms-interpolation-mode: bicubic;
}

.img-border {
    border: 2px solid rgba(43, 39, 40, 0.1);
    padding: 9px;
    border-radius: 5px;
}

hr {
    height: 2px;
    border: none;
    color: #911146;
    background-color: #911146;
}

h2 + hr {
    height: 7px;
    border-radius: 2px;
}

blockquote {
    background: #911146;
    border: 2px solid #ED8C2B;
    border-radius: 11px;
    margin: 0px;
    padding: 5px;
    color: #F9B88F;
    font-size: 1.2em;
    text-align: center;
    letter-spacing: 0.2px;
}

blockquote p {
    margin: 0px;
}

blockquote strong {
    color: #E3CEAB;
}

p,
.wrapper li {
    font-size: 0.85em;
    line-height: 1.2em;
}

.wrapper ol li {
    margin-top: 8px;
    list-style-type: decimal;
}

tr, th, td {
    margin: 0px;
}

th {
    border-bottom: 1px solid #2B2728;
}

td,
th {
    border-left: 1px solid #2B2728;
    border-right: 1px solid #2B2728;
    padding: 5px 10px;
}

td:first-of-type,
th:first-of-type {
    border-left: 0px;
}

td:last-of-type,
th:last-of-type {
    border-right: 0px;
}

a {
    color: #911146;
}

code {
    display: inline-block;
    background: #F9B88F;
    border-radius: 4px;
    padding: 1px 4px 2px;
    margin: 0px 1px 1px 0px;
    color: #911146;
    font-size: 0.85em;
}

pre code {
    display: block;
    background: #2B2728;
    background-image: url('/_img/noise.png');
    background-position: 110px 40px;
    padding: 10px;
    color: #A6A5BA;
    font-size: 0.8em;
    line-height: 1.64em;
}

footer {
    height: 1200px;
}

.wrapper {
    padding-left: 0px;
}

.wrapper h1 {
    margin-bottom: 0px;
    color: #911146;
    font-family: "Teko", sans-serif;
    font-size: 4em;
    line-height: 0.9em;
}

.wrapper h2 {
    margin: 52px 0px 0px 0px;
    color: #ED8C2B;
    font-family: "Teko", sans-serif;
    font-size: 2em;
    letter-spacing: 2px;
    text-transform: lowercase;
}

.blue {
    color: #264AA5;
    font-size: 1.2em;
    font-weight: bold;
}

.wrapper h5 {
    color: #264AA5;
    font-size: 1.1em;
    word-wrap: break-word;
}

.wrapper li {
    color: #911146;
    list-style-type: square;
}

#toc {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 280px;
    background: #2B2728;
    background-image: url('/_img/noise.png');
    padding-top: 5px;
    color: #A6A5BA;
    overflow-y: auto;
    overflow-x: hidden;
}

#toc ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#toc li {
    padding: 0px 10px;
}

#toc a {
    color: #A6A5BA;
    text-decoration: none;
    display: block;
}

#toc .h1,
#toc .h2,
#toc .h3,
#toc .h4,
#toc .h5 {
    margin: 0px 0px 7px 0px;
}

#toc .h1 { font-size: 27px; margin-top: 14px; text-shadow: 0px 3px 19px rgba(202, 76, 128, 0.73); }
#toc .h2 { font-size: 19px; margin-top: 20px; }
#toc .h3 { font-size: 17px; }
#toc .h4 { font-size: 15px; }
#toc .h5 { font-size: 13px; }

#toc .toc-active {
    background: #911146;
}

#toc .h1 a,
#toc .h2 a {
    font-family: "Teko", sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    color: #F9B88F;
}

#toc .h5:last-of-type {
    margin-bottom: 53px;
}

@media screen and (min-width: 875px) {
    #toc { display: block; }
    .wrapper { padding-left: 300px; }
}
