@import url(https://fonts.googleapis.com/css?family=Teko:300);
*,
*:before,
*:after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-button {
    background: #ED8C2B;
    height: 18px;
}
::-webkit-scrollbar-track-piece:vertical {
  background-color: #2B2728;
}
::-webkit-scrollbar-thumb:vertical {
  background: #911146;
}
html,
body {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    background-attachment: fixed;
    background: -webkit-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
       background: -moz-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
        background: -ms-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
            background: radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
    position: relative;
    background-size: 1000px 400px;
    background-position: center -65px;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: auto;
    color: #A6A5BA;
}
a {
    color: #D5A8A3;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #F5C8C3;
    text-shadow: 0px 3px 10px rgba(255,255,255,0.35);
}
.t,
.t tr,
.t td {
    width: 100%;
    height: 100%;
    border: 0px;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 1.1em;
}
.t {
    padding: 20px;
    background-image: url('../_img/noise.png');
}
.t td {
    vertical-align: middle;
}
img {
    max-width: 100%;
    margin-top: 90px;
}
h3 {
    font-family: "Teko", sans-serif;
    font-size: 27px;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 14px 0px 0px 0px;
    color: #F9B88F;
}
@-webkit-keyframes d {
  0% {   background-size: 1000px 0px;   }
  100% { background-size: 1000px 400px; } }
@keyframes d {
  0% {   background-size: 1000px 0px;   }
  100% { background-size: 1000px 400px; } }
.d {
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: d;
          animation-name: d;
}
.b {
    position: relative;
    display: inline-block;
    background-color: #911146;
    border-radius: 5px;
    margin: 20px;
    padding: 15px 25px;
    color: #F9B88F;
    font-family: 'Teko', Sans-Serif;
    font-size: 22px;
    text-decoration: none;
    box-shadow: 0px 5px 0px 0px #5D0A2C, 0px 0px 33px rgba(145, 17, 70, 0.69);
}
.b:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px #5D0A2C, 0px 0px 33px rgba(145, 17, 70, 0.69);
}
.b:hover {
    background-color: #AF1052;
    color: #F5C8C3;
}
.b svg {
    position: relative;
    top: 2px;
    right: 4px;
    fill: #F9B88F;
}
.b:hover svg {
    fill: #F5C8C3;
}

ol {
    width: 600px;
    margin 21px auto;
    text-align: left;
}

#ugui-nav {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: linear-gradient(rgba(145, 17, 70, 0.2), rgba(43, 39, 40, 0.2));
    color: #F9B88F;
    font-weight: bold;
    text-align: center;
    line-height: 2.5em;
}
#ugui-nav a {
    color: #F9B88F;
}
#ugui-nav a:hover {
    color: #F5C8C3;
}
