body.homepage {
    color: #3B3F42;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    a {
        text-decoration: none;
    }
    h2 {
        font-size: 25px;
        font-weight: 700;
        text-align: left;
    }
    h3 {
        font-size: 20px;
        font-weight: 700;
        text-align: left;
        vertical-align: top;
    }
    /* NAVIGATION*/
    nav,
    footer {
        max-width: 800px;
        margin: 0px auto;
        line-height: 40px;
        text-align: left;
        a {
            display: inline-block;
            padding: 0px 5px 0px;
            color: #1F2C33;
            font-size: 12px;
            font-weight: 700;
        }
    }
    nav img {
        width: 26px;
        vertical-align: -7px;
    }
    .nav-right {
        display: inline-block;
        line-height: 40px;
        float: right;
    }
    /* .start also works on the bottom div. */
    .start {
        background-color: #911146;
        margin-left: 50px;
        color: #FFF;
    }
    /*DIVS*/
    .os,
    .screenshots {
        display: inline-block;
    }
    .os,
    .screenshots {
        margin: 30px 0px 30px 0px;
    }
    .banner {
        background-color: purple;
        border-top: 2px solid #CFCFCF;
        color: #9B9BA8;
        h3 {
            font-family: Teko, sans-serif;
            font-size: 32px;
            color: #FFBC92;
        }
        a {
            color: #F2B08C;
            font-weight: bold;
        }
        p {
            width: 45%;
            margin: auto;
        }
    }
    .os {
        width: 240px;
        height: 290px;
        background-color: #F0F1F2;
        font-size: 0px;
        vertical-align: top;
        header {
            border-bottom: 1px solid #DBE0E6;
        }
        header div {
            display: inline-block;
            width: 80px;
            height: 40px;
            font-size: 15px;
            background-color: #F0F1F2;
            &:first-of-type {
                border-right:  1px solid #FFF;
            }
            &:last-of-type {
                border-left: 1px solid #FFF;
            }
        }
        header svg {
            height: 29px;
            margin-top: 5px;
        }
        .active {
            background-color: #EFDDCA;
            border-right: 1px solid #DFCFC1;
            border-bottom: 1px solid #ED8C2B;
        }
    }
    .tab {
        cursor: pointer;
    }
    .lower-os {
        border-top: 1px solid #FFF;
        img {
            width: 67px;
            margin: 10px;
            cursor: pointer;
        }
    }
    .windows.tab:hover,
    .osx.tab:hover,
    .linux.tab:hover {
        background-color: #EFDDCA;
    }
    .screenshots {
        width: 660px;
        height: 290px;
        background-color: #FFF;
        color: #1F2C33;
        vertical-align: top;
        div {
            margin: 12px 0px 0px 60px;
        }
        img {
            height: 165px;
            margin: 15px 15px 0px 0px;
            text-align: left;
            float: left;
        }
        p {
            font-size: 12px;
            text-align: left;
        }
    }
    /**********UNCOMMENT IF NEEDED**********/
    // .screenshots-text {
    //     overflow: auto;
    // }
    .bottom {
        background-color: #F8F9FA;
        border-top: 1px solid #EDEFF2;
    }
    .get-started {
        background-color: #FFF;
        padding: 120px 0px 68px 0px;
        a {
            padding: 5px 10px;
            font-size: 30px;
            font-weight: 700;
        }
    }
    /* FOOTER */
    footer {
        line-height: 20px;
        font-size: 12px;
        padding: 10px 0px;
        p {
            color: #898989;
            padding: 0px 5px 0px;
        }
    }
}

#features {
    figure {
        display: inline-block;
        margin: 0px 15px;
        padding: 20px 0px 60px 0px;
        vertical-align: top;
    }
    img {
        width: 110px;
    }
    figcaption {
        display: block;
        margin-top: 5px;
        font-size: 16px;
        font-weight: 700;
    }
}
