
body.homepage {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #3b3f42;

    a {
        text-decoration: none;
    }

    h2 {
        font-weight: 700;
        text-align: left;
        font-size: 25px;
    }

    h3 {
        font-weight: 700;
        text-align: left;
        font-size: 20px;
        vertical-align: top;
    }

    /* NAVIGATION*/

    nav,
    footer {
        max-width: 800px;
        margin: 0px auto;
        text-align: left;
        line-height: 40px;
    }

    nav a,
    footer a {
        font-weight: 700;
        font-size: 12px;
        color: #1F2C33;
        padding: 0px 5px 0px;
        display: inline-block;
    }

    nav img {
        width: 26px;
        vertical-align: -7px;
    }

    .nav-right {
        float: right;
        display: inline-block;
        line-height: 40px;
    }

    /* .start also works on the bottom div. */

    .start {
        margin-left: 50px;
        background-color: #911146;
        color: #ffffff;
    }

    /*DIVS*/

    .os,
    .middle,
    .screenshots {
        display: inline-block;
    }

    .banner {
        background-color: purple;
        border-top: 2px solid #cfcfcf;
        color: #9b9ba8;
    }

    .banner h3 {
        font-family: Teko, sans-serif;
        font-size: 32px;
        color: #ffbc92;
    }

    .banner a {
        color: #f2b08c;
        font-weight: bold;
    }

    .banner p {
        width: 45%;
        margin: auto;
    }

    .middle {
        padding: 20px 0px 30px 0px;
        vertical-align: top;
        margin: 0px 15px;
    }

    .caption {
        display: block;
        font-weight: 700;
        font-size: 15px;
        margin-top: 5px;
    }

    .os {
        height: 290px;
        width: 240px;
        background-color: red;
        font-size: 0px;
        vertical-align: top;
    }

    .os header div {
        display: inline-block;
        width: 80px;
        height: 40px;
        font-size: 15px;
        background-color: pink;
    }

    .os header div:first-of-type {
        border-right:  1px solid #fff;
    }

    .os header div:last-of-type {
        border-left: 1px solid #fff;
    }

    .os header svg {
        height: 29px;
    }

    .lower-os {
        height: 2px;
        border-top: 1px solid #DBE0E6;
        border-bottom: 1px solid #fff;
    }

    .lower-os img {
        width: 67px;
        margin: 10px;
    }

    .screenshots {
        background-color: orange;     /**********  FIX THIS COLOR!!!!  **********/
        color: #1F2C33;
        height: 290px;
        width: 660px;
        vertical-align: top;
    }

    .os,
    .screenshots {
        margin: 30px 0px 30px 0px;
    }

    .screenshots div {
        margin: 20px 0px 0px 60px;
    }

    .screenshots img {
        height: 165px;
        text-align: left;
        float: left;
        margin: 15px 15px 0px 0px;
    }

    .screenshots p {
        font-size: 12px;
        text-align: left;
    }

    .screenshots-text {
        overflow: auto;
    }

    .bottom {
        background-color: #F8F9FA;
        border-top: 1px solid #EDEFF2;
    }

    .get-started {
        background-color: #fff;
        padding: 120px 0px 68px 0px;
    }

    .get-started a {
        padding: 5px 10px;
        font-size: 30px;
        font-weight: 700;
    }

    /* FOOTER */

    footer {
        line-height: 20px;
        font-size: 12px;
        padding: 10px 0px;
    }

    footer p {
        color: #898989;
        padding: 0px 5px 0px;
    }
}
