@import url(https://fonts.googleapis.com/css?family=Teko:300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic);

body {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #3b3f42;
}

a {
    text-decoration: none;
}

h2 {
    font-weight: 700;
    text-align: left;
    font-size: 25px;
}

h3 {
    font-weight: 700;
    text-align: left;
    font-size: 20px;
    vertical-align: top;
}

/* NAVIGATION*/

nav,
footer {
    max-width: 800px;
    margin: 0px auto;
    text-align: left;
    line-height: 40px;
    a {
        font-weight: 700;
        font-size: 12px;
        color: #1F2C33;
        padding: 0px 5px 0px;
        display: inline-block;
    }
}

nav img {
    width: 26px;
    vertical-align: -7px;
}

.nav-right {
    float: right;
    display: inline-block;
    line-height: 40px;
}

/* .start also works on the bottom div. */

.start {
    margin-left: 50px;
    background-color: #911146;
    color: #ffffff;
}

/*DIVS*/

.os, .middle, .screenshots {
    display: inline-block;
}

.os, .screenshots {
    margin: 30px 0px 30px 0px;
}

.banner {
    background-color: purple;
    border-top: 2px solid #cfcfcf;
    color: #9b9ba8;
    h3 {
        font-family: Teko, sans-serif;
        font-size: 32px;
        color: #ffbc92;
    }
    a {
        color: #f2b08c;
        font-weight: bold;
    }
    p {
        width: 45%;
        margin: auto;
    }
}

.middle {
    padding: 20px 0px 60px 0px;
    vertical-align: top;
    margin: 0px 15px;
    img {
        width: 110px;
    }
}

.caption {
    display: block;
    font-weight: 700;
    font-size: 16px;
    margin-top: 5px;
}

.os {
    height: 290px;
    width: 240px;
    background-color: red;
    font-size: 0px;
    vertical-align: top;
    header div {
        display: inline-block;
        width: 80px;
        height: 40px;
        font-size: 15px;
        background-color: #F0F1F2;
        &:first-of-type {
            border-right:  1px solid #fff;
        }
        &:last-of-type {
            border-left: 1px solid #fff;
        }
    }
    header svg {
        height: 29px;
    }
}

.lower-os {
    border-top: 1px solid #DBE0E6;
    border-bottom: 1px solid #fff;
    img {
        width: 67px;
        margin: 10px;
    }
}

.windows.tab:hover, .osx.tab:hover, .linux.tab:hover {
    background-color: #EFDDCA;
    border-bottom: 1px solid #ED8C2B;
}

.screenshots {
    background-color: orange;     /**********  FIX THIS COLOR!!!!  **********/
    color: #1F2C33;
    height: 290px;
    width: 660px;
    vertical-align: top;
    div {
        margin: 20px 0px 0px 60px;
    }
    img {
        height: 165px;
        text-align: left;
        float: left;
        margin: 15px 15px 0px 0px;
    }
    p {
        font-size: 12px;
        text-align: left;
    }
}

.screenshots-text {
    overflow: auto;
}

.bottom {
    background-color: #F8F9FA;
    border-top: 1px solid #EDEFF2;
}

.get-started {
    background-color: #fff;
    padding: 120px 0px 68px 0px;
    a {
        padding: 5px 10px;
        font-size: 30px;
        font-weight: 700;
    }
}

/* FOOTER */

footer {
    line-height: 20px;
    font-size: 12px;
    padding: 10px 0px;
    p {
        color: #898989;
        padding: 0px 5px 0px;
    }
}
