@-webkit-keyframes d {
  0% {   background-size: 1000px 0px;   }
  100% { background-size: 1000px 400px; } }
@keyframes d {
  0% {   background-size: 1000px 0px;   }
  100% { background-size: 1000px 400px; } }

body.dawn {
    background-attachment: fixed;
    background: -webkit-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
       background: -moz-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
        background: -ms-radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
            background: radial-gradient(center top, farthest-side, #ED8C2B, #911146 40%, #2B2728 95%, #2B2728), #2B2728;
    position: relative;
    background-size: 1000px 400px;
    background-position: center -65px;
    background-repeat: no-repeat;
    font-family: sans-serif;
    overflow: auto;
    color: #A6A5BA;
    -webkit-animation-duration: 8s;
            animation-duration: 8s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: d;
            animation-name: d;
    a {
        color: #D5A8A3;
        font-weight: bold;
        text-decoration: none;
    }
    a:hover {
        color: #F5C8C3;
        text-shadow: 0px 3px 10px rgba(255,255,255,0.35);
    }
    .t,
    .t tr,
    .t td {
        width: 100%;
        height: 100%;
        border: 0px;
        margin: 0px;
        padding: 0px;
        text-align: center;
        line-height: 1.1em;
    }
    .t {
        padding: 20px;
        background-image: url('../_img/noise.png');
    }
    .t td {
        vertical-align: middle;
    }
    img {
        max-width: 100%;
        margin-top: 90px;
    }
    h3 {
        font-family: "Teko", sans-serif;
        font-size: 27px;
        font-weight: bold;
        letter-spacing: 2px;
        margin: 14px 0px 0px 0px;
        color: #F9B88F;
    }
    .b {
        position: relative;
        display: inline-block;
        background-color: #911146;
        border-radius: 5px;
        margin: 20px;
        padding: 15px 25px;
        color: #F9B88F;
        font-family: 'Teko', Sans-Serif;
        font-size: 22px;
        text-decoration: none;
        box-shadow: 0px 5px 0px 0px #5D0A2C, 0px 0px 33px rgba(145, 17, 70, 0.69);
    }
    .b:active {
        transform: translate(0px, 5px);
        -webkit-transform: translate(0px, 5px);
        box-shadow: 0px 1px 0px 0px #5D0A2C, 0px 0px 33px rgba(145, 17, 70, 0.69);
    }
    .b:hover {
        background-color: #AF1052;
        color: #F5C8C3;
    }
    .b svg {
        position: relative;
        top: 2px;
        right: 4px;
        fill: #F9B88F;
    }
    .b:hover svg {
        fill: #F5C8C3;
    }

    ol {
        width: 600px;
        margin: 21px auto;
        text-align: left;
    }

    #ugui-nav {
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        background: linear-gradient(rgba(145, 17, 70, 0.2), rgba(43, 39, 40, 0.2));
        color: #F9B88F;
        font-weight: bold;
        text-align: center;
        line-height: 2.5em;
    }
    #ugui-nav a {
        color: #F9B88F;
    }
    #ugui-nav a:hover {
        color: #F5C8C3;
    }

    .github-corner {
        transition: 1s ease all;
    }

    .github-corner:hover .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
    .instructions {
        display: inline-block;
        margin-top: 25px;
        text-align: left;
        vertical-align: top;
    }
    .instructions code {
        background: rgba(126, 42, 77, 0.5);
        border-radius: 3px;
        padding: 0px 2px;
        color: #D5A8A3;
    }
    .instructions ol {
        max-width: 560px;
    }
    .instructions li {
        line-height: 1.2em;
    }
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%, 80% {
        transform: rotate(10deg);
    }
}

@media (max-width:600px){
    .github-corner {
        opacity: 0;
    }
/*
    .github-corner:hover .octo-arm {
        animation: none;
    }
    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out;
    }
*/
}

